.LeGdeGoogle{
    color: #CED844;
	font-size:180;
}

.LeOEdeGoogle{
color:orange;
font-size:130
}

#Le2emeOdeGoogle{
color : yellow ;
font-size : 130 ;


}

#LeLdeGoogle{  
color: green;
font-size : 150;

}
